<h1>Index</h1>
<a mat-raised-button color="primary" routerLink="/mainprop/create">Create New</a>
<hr />

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
    
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let mainprop" routerLink="/mainprop/detail/{{mainprop.RealEstatePropertyId}}">
        <i class="material-icons">library_books</i></mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="RealEstatePropertyId">
        <mat-header-cell *matHeaderCellDef> Note # </mat-header-cell>
        <mat-cell *matCellDef="let mainprop"> {{mainprop.RealEstatePropertyId}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="RealEstatePropertyName">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let mainprop"> {{mainprop.RealEstatePropertyName}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="ImageLink">
        <mat-header-cell *matHeaderCellDef> ImageLink </mat-header-cell>
        <mat-cell *matCellDef="let mainprop"> {{mainprop.ImageLink}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="RealEstatePropertyState">
      <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
      <mat-cell *matCellDef="let mainprop"> {{mainprop.RealEstatePropertyState}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let mainprop">
        <i mat-icon class="material-icons" routerLink="/mainprop/edit/{{note.NoteId}}">edit</i>
        <i class="material-icons" routerLink="/mainprop/delete/{{note.NoteId}}">delete</i>
      </mat-cell>
    </ng-container>
    
  </mat-table>
</div>