<h1>Edit Property</h1>
<hr>

<div *ngIf="buy">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editForm">
    <div>
      <div>
        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" placeholder="Date Available" [value]="DateAvail" formControlName="DateAvail" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Price" formControlName="Price" type="Price" [value]="buy.Price" required/>
        </mat-form-field>
      </div>
      <div>
          <mat-form-field >
              <mat-label>Property Description</mat-label>
              <textarea matInput
                        formControlName="Description"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5">
              </textarea>
          </mat-form-field>
      </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Update</button>
  </form>
</div>