
  /* Here down is older */

.main-div {
    text-align: center;
}


.deck {
    display: inline-block;
    padding: 2em 2em 2em 1em
}

#card {
    width: 22vw;
    height: 28vw;
    box-shadow: 5px 10px 18px #888888;
}

.nav-btn {
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: #c1d0f4;
    color: white;
}

    .nav-btn:hover {
        background-color: #8ca2d9;
        color: #cccccc;
    }

    .button:hover {
        background-color: #8ca2d9;
    }

    .button {
        background-color: #c1d0f4;
    }

/* .buttonRow {
    margin-bottom: 0.5em;
} */

/* .material-icons {
    color: #595959;
} */
    /* .material-icons:hover {
        color: black;
    } */