<div class="main-div">
<h2>Properties Up For Rent</h2>
<a mat-raised-button color="primary" routerLink="/ForRent/Create" class="nav-btn">Create New</a>
<a mat-raised-button color="primary" routerLink="/ForRent/Admin/List" class="nav-btn">Admin View</a>
<br>


  <br><hr><br>
    <div class="deck" *ngFor="let rent of _rentProps" >
        <mat-card id="card">
          <mat-card-header >
            <h3>{{ rent.RealEstatePropertyName }}</h3>
          </mat-card-header>
          <mat-card-content>
            <h5>{{ rent.PropertyType }}</h5>
          </mat-card-content>
          <mat-card-content>
            <img mat-card-lg-image  [src]="rent.ImageLink">
            <br>
            <br>
            <h4>Price: ${{ rent.PricePerMonth }}</h4>
            <h4>{{ rent.RealEstateCity }}, {{ rent.RealEstateState }}</h4>
          </mat-card-content>
          <mat-card-actions>
            <button class="button" (click)="openPropDetails(rent)" mat-button>See More</button>
          </mat-card-actions>
        </mat-card>
    </div>
  
</div>