<div *ngIf="this.authService.isLoggedIn">
  <div class="main-div">
    <h2>Properties Up For Rent</h2>
    <div *ngIf="this.authService.isLoggedIn && this.authService.isAdmin">
      <a mat-raised-button color="primary" routerLink="/ForRent/Create" class="nav-btn">Create New</a>
      <a mat-raised-button color="primary" routerLink="/ForRent/Admin/List" class="nav-btn">Admin View</a>
    </div>
    <br>

    <div class="deck" *ngFor="let rent of _rentProps">
      <mat-card id="card">
        <mat-card-header>
          <h3>{{ rent.RealEstatePropertyName }}</h3>
        </mat-card-header>
        <mat-card-content>
          <h5>{{ rent.PropertyType }}</h5>
        </mat-card-content>
        <mat-card-content>
          <img mat-card-lg-image [src]="rent.ImageLink">
          <br>
          <br>
          <h4>Price: ${{ rent.PricePerMonth }}</h4>
          <h4>{{ rent.RealEstateCity }}, {{ rent.RealEstateState }}</h4>
        </mat-card-content>
        <mat-card-actions>
          <button class="button" (click)="openPropDetails(rent)" mat-button>See More</button>
        </mat-card-actions>
      </mat-card>
    </div> 

  </div>
</div>

<div *ngIf="!this.authService.isLoggedIn">
  <h3>Unauthorized Page</h3>
  <hr>
  <p>Please <a routerLink="/Login">Login</a> To View This Page!</p>
</div>