
<hr />
<div *ngIf="rent">
  <div>
    <label for="">RentId:</label>
    <span>{{rent.RentId}}</span>
  </div>
  <div>
    <label for="">DateAvailable:</label>
    <span>{{rent.DateAvailable}}</span>
  </div>

  <div>
    <label for="">PricePerMonth:</label>
    <span>{{rent.PricePerMonth}}</span>
  </div>
  <div>
    <label for="">Description:</label>
    <span>{{rent.Description}}</span>
  </div>
  <div>
    <label for="">UtilitiesIncluded:</label>
    <span>{{rent.UtilitiesIncluded}}</span>
  </div>
  <div>
    <label for="">PetsAllowed:</label>
    <span>{{rent.PetsAllowed}}</span>
  </div>
  <div>
    <label for="">IsRentFavorite:</label>
    <span>{{rent.IsRentFavorite}}</span>
  </div>

</div>

<button mat-button color="warn" (click)="onDelete()" routerLink="/ForRent">Delete</button> |
<button mat-button color="primary" routerLink="/ForRent">Back to List</button>