<div *ngIf="this.authService.isLoggedIn && this.authService.isAdmin">
    <h1>Delete</h1>
    <h4>Are you sure you want to delete this?</h4>

    <hr />
  <div *ngIf="rent">
    <div hidden>
      <label for="">RentId:</label>
      <span>{{rent.RentId}}</span>
    </div>
    <div>
      <label for="">DateAvailable: </label>
      <span>{{rent.DateAvailable | date:'d MMMM y'}}</span>
    </div>

    <div>
      <label for="">Price Per Month: </label>
      <span>${{rent.PricePerMonth}}</span>
    </div>
    <div>
      <label for="">Description: </label>
      <span>{{rent.Description}}</span>
    </div>
    <div>
      <label for="">Utilities Included: </label>
      <span>{{rent.UtilitiesIncluded}}</span>
    </div>
    <div>
      <label for="">Pets Allowed: </label>
      <span>{{rent.PetsAllowed}}</span>
    </div>
    <div>
      <label for="">Rent Favorite: </label>
      <span>{{rent.IsRentFavorite}}</span>
    </div>

  </div>

  <button mat-button color="warn" (click)="onDelete()" routerLink="/ForRent">Delete</button> |
  <button mat-button color="primary" routerLink="/ForRent">Back to List</button>
</div>
<div *ngIf="this.authService.isLoggedIn && !this.authService.isAdmin">
  <h3>Unauthorized Page</h3>
  <hr>
  <p>You Are Not Authroized To View This Page.</p>
</div>
<div *ngIf="!this.authService.isLoggedIn">
  <h3>Unauthorized Page</h3>
  <hr>
  <p>Please <a routerLink="/Login">Login</a> To View This Page!</p>
</div>