<div class="main-div">

  <h1 mat-dialog-title> Property Name: {{ data.name }} </h1>
  <h3>Property Type: {{ data.propType }}</h3>
   <img [src]="data.pic" width="450" height="450"> 


  <mat-dialog-content class="mat-typography">
    <h3>${{data.Price}}</h3>
    <h3>{{data.Address}}</h3>
    <h4>{{data.City}}, {{data.State}}  {{data.Zip}}</h4>

    <h4>{{data.SqFoot}} sq. feet</h4>
    <h4>Bedrooms: {{data.Bedrooms}}</h4>
    <h4>Bathrooms: {{data.Bathrooms}}</h4>
    <h4>Stories: {{data.Stories}}</h4>
    <h4>Pool: {{data.Pool}}</h4>
    <h4>Basement: {{data.Basement}}</h4>
    <h4>Description</h4>
    <h5>{{data.Description}}</h5>
    <h4>Date Available: {{data.DateAvail}}</h4>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Back To List</button>
    <!-- <button mat-button>Save To Favorites</button> -->

  </mat-dialog-actions>
</div>    

