<div class="main-div">

  <h2 mat-dialog-title> Property Name </h2>
  <h3>Property Type</h3>
  <!-- <img [src]="data..."> -->


  <mat-dialog-content class="mat-typography">

    <h3>Address</h3>
    <h4>City, State, Zip</h4>

    <h4>Square Footage</h4>
    <h4>Bedrooms</h4>
    <h4>Bathrooms</h4>
    <h4>Stories</h4>
    <h4>Pool</h4>
    <h4>Basement</h4>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Back To List</button>
    <button></button>
  </mat-dialog-actions>
</div>