<h1>Delete</h1>
<h4>Are you sure you want to delete this property?</h4>

<hr />
<div *ngIf="buy">
  <div hidden>
    <label >Property Id: </label>
    <span>{{buy.BuyId}}</span>
  </div>
  <div>
      <label for="">Date Available: </label>
      <span>{{buy.DateAvail}}</span>
  </div>
  <div>
      <label for="">Price: $ </label>
      <span>{{buy.Price}}</span>
  </div>
  <div>
      <label for="">Description: </label>
      <span>{{buy.Description}}</span>
  </div>
</div>

<button mat-button color="warn" (click)="onDelete()" routerLink="/ForSale/Admin/List">Delete</button> |
<button mat-button color="primary" routerLink="/ForSale/Admin/List">Back to List</button>
<br>