.nav-btn {
    margin-right: 0.5em;
    margin-left: 0.5em;
    color: white;
}

#cell-data {
    align-items: center;
    margin-left: 2em;
}
.indexBox{
    width: 98vw;
    margin: 12px;
    border: solid 1px #888888;
    box-shadow: 5px 10px 10px #888888;
  }
