<div *ngIf="this.authService.isLoggedIn && this.authService.isAdmin">
  <h1>Properties For Rent</h1>


    <a mat-raised-button color="primary" routerLink="/ForRent/Create" class="nav-btn">Create New</a>
    <a mat-raised-button color="primary" routerLink="/ForRent" class="nav-btn">User View</a>

  <br>
  <br>
  <hr>
  
  <div class="indexBox">
    <mat-table #table [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef Class="matColumnSize"></mat-header-cell>
        <mat-cell  *matCellDef="let rent">
          <i class="material-icons" id="cell-data" routerLink="/ForRent/Admin/Details/{{rent.RentId}}"> library_books</i></mat-cell>
      </ng-container>

      <ng-container matColumnDef="Property Name">
        <mat-header-cell *matHeaderCellDef> Property Name </mat-header-cell>
        <mat-cell *matCellDef="let rent"> {{rent.RealEstatePropertyName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Property Type">
          <mat-header-cell *matHeaderCellDef> Property Type</mat-header-cell>
          <mat-cell id="cell-data" *matCellDef="let rent"> {{rent.PropertyType}} </mat-cell>
        </ng-container>

      <ng-container matColumnDef="Date Available">
        <mat-header-cell *matHeaderCellDef> Date Available </mat-header-cell>
        <mat-cell  *matCellDef="let rent"> {{rent.DateAvailable | date:'d MMMM y'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Price Per Month">
        <mat-header-cell *matHeaderCellDef> Price Per Month </mat-header-cell>
        <mat-cell id="cell-data" *matCellDef="let rent"> {{rent.PricePerMonth}} </mat-cell>
      </ng-container>

      <!-- <ng-container hidden matColumnDef="Description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let rent"> {{rent.Description}} </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="Utilities Included">
        <mat-header-cell *matHeaderCellDef> Utilities Included </mat-header-cell>
        <mat-cell id="cell-data" *matCellDef="let rent"> {{rent.UtilitiesIncluded}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Pets Allowed">
        <mat-header-cell *matHeaderCellDef> PetsAllowed </mat-header-cell>
        <mat-cell id="cell-data" *matCellDef="let rent"> {{rent.PetsAllowed}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell id="cell-data" *matCellDef="let rent">
          <i mat-icon class="material-icons" routerLink="/ForRent/Update/{{rent.RentId}}">edit</i>
          <i class="material-icons" routerLink="/ForRent/Delete/{{rent.RentId}}">delete</i>
        </mat-cell>
      </ng-container>
    </mat-table>
  </div>

</div>
<div *ngIf="this.authService.isLoggedIn && !this.authService.isAdmin">
  <h3>Unauthorized Page</h3>
  <hr>
  <p>You Are Not Authroized To View This Page.</p>
</div>
<div *ngIf="!this.authService.isLoggedIn">
  <h3>Unauthorized Page</h3>
  <hr>
  <p>Please <a routerLink="/Login">Login</a> To View This Page!</p>
</div>

<!-- <div *ngFor='let rent of rent$' style="text-align:center">
  <h2>{{ rent.PricePerMonth }} - {{ rent.Available }}</h2>
</div> -->