<div class="main-div">
  <h2>Properties For Sale</h2>
  <div class="deck" *ngFor="let buy of _buyProps" >
    <mat-card id="card">
      <mat-card-header>
        <h3>{{ buy.RealEstatePropertyName }}</h3>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-lg-image  [src]="buy.ImageLink">
        <br>
        <br>
        <h4>Bedrooms: {{ buy.Bedroom }}</h4>
        <h4>{{ buy.RealEstateCity }}, {{buy.RealEstateState }}</h4>
      </mat-card-content>
      <mat-card-actions>
        <button class="button" (click)="openPropDetails(buy.BuyId)" mat-button>See More</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>