<h1>Create new property For Sale</h1>
<br>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="buyPropForm">
  <div>
      <h2>Select one of the properties</h2>
          <div >
            <mat-form-field>
              <mat-select placeholder="Property Address" formControlName="RealEstatePropertyId" required>
                <mat-option *ngFor="let mP of mainprop" [value]="mP.RealEstatePropertyId">ID: {{mP.RealEstatePropertyId}}   Address: {{mP.RealEstateAddress}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <br>
    <h3>Enter the For Sale Property attributes below</h3>
    <div>
      <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Date Available" [value]="DateAvail" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Price" formControlName="Price" type="Price" required/>
      </mat-form-field>
    </div>
    <div>
        <mat-form-field >
            <mat-label>Property Description</mat-label>
            <textarea matInput
                      formControlName="Description"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5">
            </textarea>
        </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Property</button>
</form>