.nav-btn {
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: #c1d0f4;
    color: white;
}

    .nav-btn:hover {
        background-color: #8ca2d9;
        color: #cccccc;
    }
#cell-data {
    align-items: center;
    margin-left: 4em;
}

#header-cell {
    align-items: center;
    margin-left: 3em;
}
.indexBox{
    width: 98vw;
    margin: 12px;
    border: solid 1px #888888;
    box-shadow: 5px 10px 10px #888888;
  }
