<div *ngIf="this.authService.isLoggedIn && this.authService.isAdmin">
  <h1>Properties For Sale</h1>
  <a mat-raised-button color="primary" routerLink="/ForSale/Create" class="nav-btn">Create New</a>
  <a mat-raised-button color="primary" routerLink="/ForSale" class="nav-btn">User View</a>
  <br>
  <br>
  <hr>

  <div class="indexBox">
    <mat-table #table [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

      <ng-container  matColumnDef="details">
        <mat-header-cell id="header-cell" *matHeaderCellDef Class="mat ColumnSize"></mat-header-cell>
        <mat-cell  *matCellDef="let buy">
          <i class="material-icons" id="cell-data" routerLink="/ForSale/Admin/Details/{{buy.BuyId}}">library_books</i>
        </mat-cell>
      </ng-container>

      <!-- <ng-container hidden matColumnDef="BuyId">
        <mat-header-cell *matHeaderCellDef> Buy ID </mat-header-cell>
        <mat-cell *matCellDef="let buy"> {{buy.BuyId}} </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="Property Name">
        <mat-header-cell *matHeaderCellDef> Property Name</mat-header-cell>
        <mat-cell id="cell-data" *matCellDef="let buy"> {{buy.RealEstatePropertyName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Property Type">
        <mat-header-cell *matHeaderCellDef> Property Type</mat-header-cell>
        <mat-cell id="cell-data" *matCellDef="let buy"> {{buy.PropertyType}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Date Available">
        <mat-header-cell *matHeaderCellDef> Date Available </mat-header-cell>
        <mat-cell *matCellDef="let buy"> {{buy.DateAvail | date:'d MMMM y'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let buy"> ${{buy.Price}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell id="cell-data" *matCellDef="let buy">
          <i mat-icon class="material-icons" routerLink="/ForSale/Update/{{buy.BuyId}}">edit</i>
          <i class="material-icons" routerLink="/ForSale/Delete/{{buy.BuyId}}">delete</i>
        </mat-cell>
      </ng-container>
    </mat-table>
  </div>
  <br>
</div>
<div *ngIf="this.authService.isLoggedIn && !this.authService.isAdmin">
  <h3>Unauthorized Page</h3>
  <hr>
  <p>You Are Not Authroized To View This Page.</p>
</div>
<div *ngIf="!this.authService.isLoggedIn">
  <h3>Unauthorized Page</h3>
  <hr>
  <p>Please <a routerLink="/Login">Login</a> To View This Page!</p>
</div>